
.vistaHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 5em;
    background-color: black;
    padding: 0 3em;
    transition: 0.3s;
    cursor: pointer;
}
.nav{
    display: flex;
    flex-direction: row;
}
.tapHeader{
    color: white;
    margin-left: 2em;
}

.tapHeader:hover{
    color: rgb(34, 180, 177);
    transition: 0.3s;
    margin-left: 2em;
}
