#footerPartnership{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#logoRogue{
    width: 10vmax;
    max-width: 15em;
}
#logoNocco{
    margin: 1.5em 4em;
    width: 7vmax;
    max-width: 10em;
}
#logoConcept2{
    width: 20vmax;
    max-width: 20em;
}

@media (max-width: 950px) {
    #footerPartnership{
        flex-direction: column;
        align-items: center;
        padding: 2em 0;
    }
}