
#contactoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 80%;
    margin: 10em 0;
}
#mapBoxContact{
    display: flex;
    flex-direction: column;
}
.contactMapContainer{
    width: 100%;
}
#topMapContainer{
    margin-bottom: 6em;

}
#greenVerticalBar{
    width: .5em;
    height: 65vmax;
    margin: 0 8em;
}
/* FORM */

#introForm{
    font-size: 2em;
    width: 14.5em;
}
#contact-form{
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    margin-top: 2em;
}
label{
    font-size: 2em;
}
input{
    box-sizing: border-box;
    border: none;
    padding: 1em;
    margin-bottom: 1em;
}
textarea{
    height: 10em;
}

#submit {
    margin-top: 1em;
    font-size: 1.2em;
    background-color: white;
    transition: .5s;
    cursor: pointer;
}
#submit:hover {
    margin-top: 1em;
    font-size: 1.2em;
    color: white;
    background-color: black;
    transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
}

@media (max-width: 1250px) {
    #contactoContainer{
        flex-direction: column;
    }
    #greenVerticalBar{
        display: none;
    }
    #mapBoxContact{
        margin-bottom: 4em;
    }
    #introForm{
        width: 10em;
        font-size: 1.5em;
    }
    #formContainer{
        margin-bottom: 4em;
    }


}