.lessonsContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.lessonsBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em 0;
}

.lessonCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 20em;
    margin-bottom: 2em;
}

.lessonName{
    font-size: 2em;
}

.lessonInfo{
    line-height: 1.2em;
    font-size: 1.2em;
}


.lessonMembers{
    margin-top: 1em;
}