.containerData{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40em;
}
.containerProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.adminLog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}