#rightJungleTop{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.textoJungleTop{
    font-size: 5vmax;
    letter-spacing: .01em;
    word-spacing: .1em;
    line-height: .8;
    text-align: center;
}
#boxLocalesJungleTop{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 1.5em;
}

