nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: .6em .8em;
    width: 100%;
}

@media (max-width: 950px) {
    nav{
        justify-content: center;
    }
}